.navbar-nav > li > a{
  padding: 5px 0;
  border: 2px solid transparent;
  margin: 0 20px 0 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: rgb(250, 249, 249);
  font-weight: 400;
  font-size: 15px;
}
.navbar-dark .navbar-nav .nav-link.active{
  color:  #d43031;
}
a:hover { color: #d43031 !important; };
